body {
    background-color: rgb(200, 220, 226);
}

.header {
    padding: 30px;
    background-color: rgb(152, 153, 207);
    font-size: 18px;
}

#starting_point {
    border: solid;
    border-width: 2px;
    width: 50%;
    margin: auto;
    position: relative;
    box-shadow: 15px 15px 10px;
    border-color: rgb(136, 137, 194);
    padding: 20px;
    flex: 1 1 auto;

}

.sbtn {
    position: relative;
    left: 37%;
    background-color: rgb(152, 153, 207);
    padding: 7px;
    width: 25%;
}

#next_btn {
    position: relative;
    left: 14%;
    background-color: rgb(152, 153, 207);
    padding: 7px;
    width: 25%;
}

.rbtn {
    font-size: 18px;
    position: relative;
    bottom: 40.5px;
    padding: 10px;
    float: right;
    background-color: rgb(124, 124, 202);
}

.abtn_features {
    display: grid;
    gap: 6px;
    padding: 10px;
    padding: 7px;
    width: 50%;
}

.abtn_correct {
    background-color: green;
}

.abtn_wrong {
    background-color: red;
}

#title {
    text-align: center;
}

#q-and-ans {
    text-align: center;
}